/* Imports: */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Globals: */
* {
    /* Scroll - Behavior: */
    scroll-behavior: smooth;

    /* Font - Family: */
    font-family: Montserrat;

    /* Padding: */
    padding: 0;

    /* Margins: */
    margin: 0;
}

